@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  /* colors for text on light background */
  --main-text-color-dark: #212121;
  --secondary-text-color-dark: #757575;
  /* colors for text on dark background */
  --main-text-color-light: #ffffff;
  --secondary-text-color-light: #ffffff99;
  /* colors for background */
  --main-background-color: #ffffff;
  --secondary-backgound-color-light: #f5f4fa;
  --secondary-background-color-dark: #2f303a;
  /* accent colors */
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color-dark);
  margin: 0;
  overflow-x: hidden;
}

body.with-overlay {
  overflow: hidden;
}

.list, .page-header__social-links, .main-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form__input, .form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__textarea:hover, .form__input:focus, .form__textarea:focus {
  border-color: var(--accent-color);
  outline: 0px;
}

input[type='checkbox'] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container *,
.form * {
  outline: 1px solid red;
  outline: none;
}

.icon {
  fill: currentColor;
}

.button {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--main {
  background: var(--accent-color);
  color: var(--main-text-color-light);
}

.button--main:hover, .button--main:focus {
  background: var(--accent-color-hover);
}

.button--secondary {
  background-color: var(--secondary-backgound-color-light);
  color: var(--main-text-color-dark);
}

.button--secondary:hover, .button--secondary:focus {
  background: var(--accent-color);
  color: var(--main-text-color-light);
}

.button__icon--prepend {
  margin-right: 10px;
}

.button__icon--append {
  margin-left: 10px;
}

.list--flex.clients {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .list--flex.clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .list--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .list--flex {
    margin: 0;
  }
}

.list--cards {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .list--cards {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .list--cards {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.form--subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .form--subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form__title {
  font-size: 20px;
  line-height: 1.15;
  color: var(--main-text-color-dark);
}

@media screen and (max-width: 479px) {
  .form__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .form__title {
    display: inline-block;
    text-align: center;
  }
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__field:first-child {
  margin-top: 18px;
}

.form__field:not(.checkbox) {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 28px;
}

.form__input {
  padding: 12px 12px 12px 42px;
}

.form__input--subscribe {
  border-color: rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  color: var(--main-background-color);
}

.form__input--subscribe::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
}

.form__input--subscribe:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
}

.form__input--subscribe::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
}

.form__input--subscribe::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (max-width: 1199px) {
  .form__input--subscribe {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .form__input--subscribe {
    width: 358px;
  }
}

.form__icon {
  color: currentColor;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  color: var(--accent-color);
}

.form__textarea {
  resize: none;
  padding: 12px 16px;
  height: 60px;
  width: 100%;
}

.form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 480px) {
  .form__textarea::-webkit-input-placeholder {
    font-size: 14px;
  }
  .form__textarea:-ms-input-placeholder {
    font-size: 14px;
  }
  .form__textarea::-ms-input-placeholder {
    font-size: 14px;
  }
  .form__textarea::placeholder {
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) {
  .form__textarea {
    height: 120px;
  }
}

.form__label {
  position: absolute;
  bottom: calc(100% + 0px);
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--secondary-text-color-dark);
}

.form__button {
  display: block;
  padding: 10px 55px;
  margin: 30px auto 0;
}

.form__button--subscribe {
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  margin: 0;
  margin-left: 12px;
}

@media screen and (max-width: 1199px) {
  .form__button--subscribe {
    margin: auto;
  }
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.71;
  cursor: pointer;
  color: var(--secondary-text-color-dark);
}

@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
  }
}

.checkbox__label {
  display: inline-block;
}

@media screen and (min-width: 480px) {
  .checkbox__label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.checkbox__check {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid var(--main-text-color-dark);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:hover + .checkbox__check,
.checkbox__input:focus + .checkbox__check {
  border-color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .checkbox__check {
    vertical-align: middle;
  }
}

.checkbox__icon {
  display: none;
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  left: -2px;
  top: -2px;
}

.checkbox__input:checked + .checkbox__check .checkbox__icon {
  display: block;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

@media screen and (min-width: 480px) {
  .checkbox__link {
    margin-left: 3px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.container--flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 60px;
  padding: 10px 0;
  background-color: var(--main-background-color);
  border-bottom: 1px solid #ececec;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .page-header {
    min-height: 80px;
    padding: 0;
  }
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  overflow: scroll;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    width: 100%;
  }
}

.page-header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-header__menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__menu-button--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.page-header__menu-button:hover, .page-header__menu-button:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .page-header__menu-button {
    display: none;
  }
}

.page-header__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .page-header__menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--main-background-color);
    padding: 30px 25px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header__menu-container--is-open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 480px) {
  .page-header__menu-container {
    padding: 48px 40px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__menu-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: calc(100% / 3 * 2);
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__menu-container {
    max-width: none;
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

@media screen and (min-width: 480px) {
  .page-header__social-links {
    margin-top: 64px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__social-links {
    display: none;
  }
}

.page-header__social-links li {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.page-header__social-links li:first-child a {
  padding-left: 0;
}

.page-header__social-links li:last-child {
  border-right: none;
}

.page-header__social-links li:last-child a {
  padding-right: 0;
}

.page-header__social-links a {
  padding: 0 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .page-header__social-links a {
    padding: 0 10px;
    font-size: 18px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color-dark);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  opacity: 0.85;
}

.page-footer .logo {
  color: var(--main-text-color-light);
}

.logo__text--accent {
  color: var(--accent-color);
}

.main-nav {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .main-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.main-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-text-color-dark);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link:hover, .main-nav__link:focus, .main-nav__link--active {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .main-nav__link--active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    display: block;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 480px) {
  .main-nav__link {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section--secondary-bg {
  background-color: var(--secondary-backgound-color-light);
}

.section--pb {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section--only-desktop {
    display: none;
  }
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.hero {
  background-color: var(--secondary-background-color-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  /* Перевизначаємо шлях до 2x зображення,
    якщо щільність екрану мінімум 2 */
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__headline {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-text-color-light);
  margin: 0 auto 30px;
  max-width: 300px;
}

@media screen and (min-width: 480px) {
  .hero__headline {
    font-size: 26px;
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__headline {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

.page-header__contacts .contact-item {
  margin-top: 20px;
}

@media screen and (min-width: 480px) {
  .page-header__contacts .contact-item {
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__contacts .contact-item {
    margin: 0;
  }
  .page-header__contacts .contact-item:last-child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contacts .contact-item:last-child {
    margin-top: 0;
  }
  .page-header__contacts .contact-item:not(:first-child) {
    margin-left: 50px;
  }
}

.page-footer__contacts .contact-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-item__link {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color-light);
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-item__link:hover, .contact-item__link:focus {
  color: var(--accent-color);
}

.contact-item__link--header {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-dark);
}

@media screen and (max-width: 479px) {
  .contact-item__link--header[href*='tel'] {
    font-size: 26px;
    line-height: 1.176;
    color: var(--accent-color);
  }
  .contact-item__link--header[href*='mailto'] {
    font-size: 20px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .contact-item__link--header[href*='tel'] {
    font-size: 34px;
    color: var(--accent-color);
  }
  .contact-item__link--header[href*='mailto'] {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .contact-item__link--header {
    font-size: 12px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item__link--header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .contact-item__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-item__icon {
    margin-right: 8px;
    width: 14px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item__icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.feature {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    margin: 0;
  }
  .feature:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-backgound-color-light);
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color-dark);
  margin-bottom: 10px;
  text-align: center;
}

.feature__descr {
  color: var(--secondary-text-color-dark);
}

.page-footer .social-item:not(:last-child) {
  margin-right: 10px;
}

.team-member__social .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item__link {
  color: #afb1b8;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  padding: 12px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item__link--with-background {
  color: var(--main-text-color-light);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-item__link:hover, .social-item__link:focus {
  color: var(--main-text-color-light);
  background-color: var(--accent-color);
}

.picture-box {
  position: relative;
}

.picture-box:not(:last-child) {
  margin-right: 30px;
}

.picture-box__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background: rgba(48, 49, 59, 0.8);
  color: var(--main-text-color-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.team-member {
  background-color: var(--main-text-color-light);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(177, 148, 148, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(177, 148, 148, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-member {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
  }
  .team-member:not(:last-child) {
    margin-right: 30px;
  }
}

.team-member__info {
  padding: 30px 0 24px;
}

.team-member__image {
  width: 450px;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-member__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color-dark);
  margin-bottom: 16px;
}

.team-member__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 479px) {
  .client:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .client {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .client {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.client__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .client__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-footer {
  background-color: var(--secondary-background-color-dark);
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .page-footer__studio-info {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__studio-info {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__studio-info {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.page-footer__address {
  font-style: normal;
  margin-top: 20px;
}

.page-footer__address-line {
  color: var(--main-text-color-light);
}

.page-footer__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__social-wrap {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__social-wrap {
    margin-left: 70px;
  }
}

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-footer__subtitle {
  color: var(--main-text-color-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .page-footer__subtitle {
    text-align: center;
  }
}

.page-footer__subscribe {
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .page-footer__subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__subscribe {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.page-footer .form-subscribe {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  opacity: 1;
  visibility: visible;
  z-index: 999;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .modal {
    position: relative;
    width: 450px;
    max-width: calc(100% - 30px);
    margin: 15px auto;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .backdrop--is-hidden .modal {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  .backdrop--is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal__form {
  padding: 40px;
}

@media screen and (max-width: 479px) {
  .modal__form {
    padding: 40px 30px 30px;
  }
}

.modal__close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: var(--main-background-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

.filter__button {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus, .filter__button--current {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background: var(--accent-color);
  color: var(--main-text-color-light);
}

.card {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card {
    margin: 0;
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.card__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__image-overlay {
  position: relative;
  overflow: hidden;
}

.card__image-descr {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__image-descr p {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-text-color-light);
}

.card__link:hover .card__image-descr,
.card__link:focus .card__image-descr {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color-dark);
  margin-bottom: 4px;
}

.card__descr {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color-dark);
}
/*# sourceMappingURL=main.css.map */