.section {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }

  &--secondary-bg {
    background-color: var(--secondary-backgound-color-light);
  }

  &--pb {
    padding-top: 0;
  }

  @media screen and (max-width: 1199px) {
    &--only-desktop {
      display: none;
    }
  }
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;

  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.17;

    margin-bottom: 50px;
  }
}
