.team-member {
  background-color: var(--main-text-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(177, 148, 148, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 15px;
    @include card-width(2, 15px);
  }

  @media screen and (min-width: $desktop) {
    flex: 1;
    margin: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-member__info {
  padding: 30px 0 24px;
}

.team-member__image {
  width: 100%;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-member__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color-dark);
  margin-bottom: 16px;
}

.team-member__social {
  display: flex;
  justify-content: center;
}
