a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  padding: 0;
  margin: 0;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color-dark);
  margin: 0;

  // max-width: 100%;
  overflow-x: hidden;

  &.with-overlay {
    overflow: hidden;
  }
}

%list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin card-width($count, $margin) {
  flex-basis: calc((100% - #{$count * 2 * $margin}) / #{$count});
}

%input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: 0px;
  }
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container *,
.form * {
  outline: 1px solid red;
  outline: none;
}

.icon {
  fill: currentColor;
}
