:root {
    /* colors for text on light background */
    --main-text-color-dark: #212121;
    --secondary-text-color-dark: #757575;

    /* colors for text on dark background */
    --main-text-color-light: #ffffff;
    --secondary-text-color-light: #ffffff99;

    /* colors for background */
    --main-background-color: #ffffff;
    --secondary-backgound-color-light: #f5f4fa;
    --secondary-background-color-dark: #2f303a;

    /* accent colors */
    --accent-color: #2196f3;
    --accent-color-hover: #188ce8;
}